<ion-content [fullscreen]="true">


  <!-- Menu -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opciones</ion-title>
        
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="container">
        <ion-item>           
          <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
          <p>Cambiar tema</p>
       </ion-item>
         <ion-list>
           <ion-item [routerLink] ="['/login']">
             <ion-icon name="enter-sharp"></ion-icon>
             <p>Inicio de sesión</p>
           </ion-item>
           <ion-item [routerLink] ="">
             <ion-icon name="people-circle-outline"></ion-icon>
             <p>Lista de usuarios</p>
           </ion-item>
           <ion-item [routerLink] = "">
             <ion-icon name="call-sharp"></ion-icon>   
             <p>Contactos</p>
           </ion-item>
           <ion-item [routerLink] = "">
             <ion-icon name="information-circle-sharp"></ion-icon>  
             <p>Ayuda</p>
           </ion-item>
           <!--LOGOUT, AQUI DEBE APARECER CUANDO LA CUENTA SE INICIE-->
   
         </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>TeLlevoApp</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding"> 
      <div class="bienvenida">
        <h1>Bienvenido a TeLlevoApp</h1>
        <p>Una app hecha para solucionar todos esos problemas de transporte, uniéndonos como institución,
           motivándonos a llevar una educación más amena y responsable.</p>
      </div>
      
      <!-- Contenedor de cards infomativas -->
        <h4>Beneficios respecto al transporte</h4>
      <div class="cards">
        <ion-card>
          <ion-icon src="assets/rapido.svg"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle>Rápido</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-icon src="assets/simple.svg"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle>Simple</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-icon src="assets/simple.svg"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle>Confiable</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-icon src="assets/rapido.svg"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>

    </ion-content>
  </div>

</ion-content>
